pkgbase = evince-mobile
	pkgdesc = Document viewer (PDF, PostScript, XPS, djvu, dvi, tiff, cbr, cbz, cb7, cbt)
	pkgver = 46.0
	pkgrel = 3
	url = https://wiki.gnome.org/Apps/Evince
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-or-later
	makedepends = appstream-glib
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = texlive-bin
	makedepends = yelp-tools
	depends = dconf
	depends = djvulibre
	depends = gnome-desktop
	depends = gsettings-desktop-schemas
	depends = gsfonts
	depends = gspell
	depends = gst-plugins-base-libs
	depends = gtk3
	depends = gvfs
	depends = libarchive
	depends = libgxps
	depends = libhandy
	depends = libsecret
	depends = libspectre
	depends = libsynctex
	depends = libxml2
	depends = poppler-glib
	optdepends = texlive-bin: DVI support
	provides = libevdocument3.so
	provides = libevview3.so
	provides = evince
	conflicts = evince
	source = git+https://gitlab.gnome.org/GNOME/evince.git#commit=87a7a199c785e9b53279b2ba20134a341786ce3f
	source = 0001-toolbar-Allow-to-toggle-the-sidebar-button.patch
	source = 0002-toolbar-Allow-hiding-zoom-annotation-and-page-widgets.patch
	source = 0003-properties-view-Reduce-the-label-width-chars.patch
	source = 0004-window-Port-it-to-phones.patch
	sha256sums = c1fb163ba552999714380c05d9189019f221b6de7b7554fb09d6dfbc74b5638d
	sha256sums = 22a5c037d60cce4869193a294f90c071dab2a47ff97f9632eb22ba0f8377b4a0
	sha256sums = 0153d21c3da3a65c28c246bc31a44b307c1af4e6e56f897b8e8ec15b92974df3
	sha256sums = b184beef8d11f3d1196869744865b94343b75440f326582e51cb7fb3f4beb176
	sha256sums = f125e441c0d5cc80599859347903f6b3e1d82cab25b30df508ed0bb6892c8a45

pkgname = evince-mobile
