pkgbase = phosh-osk-stevia
	pkgdesc = On-screen keyboard for Phosh
	pkgver = 0.48.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = meson
	makedepends = python-docutils
	makedepends = wayland-protocols
	depends = feedbackd
	depends = gnome-desktop
	depends = gtk3
	depends = hunspell
	depends = json-glib
	depends = libgmobile
	depends = libhandy
	depends = wayland
	source = https://sources.phosh.mobi/releases/phosh-osk-stevia/phosh-osk-stevia-0.48.0.tar.xz
	source = https://sources.phosh.mobi/releases/phosh-osk-stevia/phosh-osk-stevia-0.48.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = b0a9a93bb0ebaf990a2dbf99391744cb2f9d3370cdf9eee69040c8bff59795a37dc03b1d847308cbd15542a7941dfed5618670b5b08c8fb9468eb5e62abe6bc9
	b2sums = SKIP

pkgname = phosh-osk-stevia
