pkgbase = xdg-desktop-portal-phosh
	pkgdesc = Backend implementation for xdg-desktop-portal for Phosh mobile environment
	pkgver = 0.45.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = glib2-devel
	makedepends = meson
	makedepends = rust
	depends = fontconfig
	depends = glib2
	depends = gnome-desktop-4
	depends = gtk4
	depends = libadwaita
	depends = xdg-desktop-portal
	source = https://sources.phosh.mobi/releases/xdg-desktop-portal-phosh/xdg-desktop-portal-phosh-0.45.0.tar.xz
	source = https://sources.phosh.mobi/releases/xdg-desktop-portal-phosh/xdg-desktop-portal-phosh-0.45.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 2d17f1c082d075bc93409d720c6e0c959a332cb230984f7bdff7876d2e8c13bfe03ab31a4b3287603bb99ea740746630cc817d7ff1cb852367fd32b78ca485ad
	b2sums = SKIP

pkgname = xdg-desktop-portal-phosh
