pkgbase = uboot-pinetab2
	pkgdesc = U-Boot for PineTab 2
	pkgver = 2025.07
	pkgrel = 1
	url = http://www.denx.de/wiki/U-Boot/WebHome
	install = uboot-pinetab2.install
	arch = aarch64
	license = GPL
	makedepends = bc
	makedepends = git
	makedepends = python
	makedepends = python-pyelftools
	makedepends = python-setuptools
	makedepends = swig
	depends = uboot-tools
	replaces = uboot-pinetab2-mainline
	backup = boot/boot.txt
	source = git+https://github.com/u-boot/u-boot.git#tag=v2025.07
	source = rkbin::git+https://github.com/rockchip-linux/rkbin.git#commit=f43a462e7a1429a9d407ae52b4745033034a6cf9
	source = vop2.patch
	source = boot.txt
	source = mkscr
	source = update-u-boot
	md5sums = 27dc84d5ba3923701eabd2bcbb2efa2b
	md5sums = 3c1f2e06bdc170f20cbc0cff196363fb
	md5sums = 630a7fa401b0f454a30baa588511784d
	md5sums = ed65ec486f0e0dc9e9c3118dffaa3782
	md5sums = 021623a04afd29ac3f368977140cfbfd
	md5sums = ec7c2005cb5cc9a23d1eb0e1bf089bf9

pkgname = uboot-pinetab2
