pkgbase = phoc
	pkgdesc = wlroots based Wayland compositor for mobile phones
	pkgver = 0.47.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LGPL-2.1-or-later AND GPL-3.0-or-later AND MIT AND (GPL-3.0-or-later or MIT)
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = meson
	makedepends = python-docutils
	makedepends = vulkan-headers
	depends = gobject-introspection
	depends = gnome-desktop
	depends = libglvnd
	depends = libgmobile
	depends = libinput
	depends = libliftoff
	depends = libxcb
	depends = mutter
	depends = seatd
	depends = xcb-util-errors
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = wayland-protocols
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.47.0.tar.xz
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.47.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 1558858760f56bb6a693d261807beae3d30e3c6296a52e42bb73c51963e92a710b13a060a0b87e216fb09899f1ce879518a5110c7c409f43d8e00885b572b92e
	b2sums = SKIP

pkgname = phoc
