pkgbase = plasma-mobile
	pkgdesc = Plasma shell for mobile devices
	pkgver = 6.3.3
	pkgrel = 1
	url = https://community.kde.org/Plasma/Mobile
	install = plasma-mobile.install
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-or-later AND LGPL-2.1-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = bluez-qt
	depends = libplasma
	depends = kirigami-addons
	depends = milou
	depends = plasma-nano
	depends = plasma-nm
	depends = plasma-pa
	depends = plasma-workspace=6.3.3
	optdepends = hfd-service: Haptic feedback
	replaces = plasma-phone-components
	source = https://download.kde.org/stable/plasma/6.3.3/plasma-mobile-6.3.3.tar.xz
	source = https://download.kde.org/stable/plasma/6.3.3/plasma-mobile-6.3.3.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	sha512sums = aa683921799f02ab04d0c6f95b87719caed05f354e8c4c5d88a0e88e71fa6ce62ef70eb9d9b9028666f3030644d8eb5ea56fc999826926c605c4bf39692e94fc
	sha512sums = SKIP

pkgname = plasma-mobile
