pkgbase = plasma-nano
	pkgdesc = A minimal plasma shell package intended for embedded devices.
	pkgver = 6.4.3
	pkgrel = 1
	url = https://invent.kde.org/plasma/plasma-nano
	arch = x86_64
	arch = i686
	arch = i486
	arch = pentium4
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = plasma-workspace
	depends = kwindowsystem
	depends = ki18n
	depends = kservice
	depends = kitemmodels
	depends = qt6-svg
	source = https://download.kde.org/stable/plasma/6.4.3/plasma-nano-6.4.3.tar.xz
	source = https://download.kde.org/stable/plasma/6.4.3/plasma-nano-6.4.3.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	sha256sums = 0a7c5b57adff5aef77c891e8883ab02c543afc860ab9e2b5ef8e550676538a56
	sha256sums = SKIP

pkgname = plasma-nano
