pkgbase = danctnix-plasma-desktop-settings
	pkgdesc = Settings files for Plasma Desktop
	pkgver = 20250531
	pkgrel = 1
	url = https://danctnix.org
	install = danctnix-plasma-desktop-settings.install
	arch = any
	license = GPL
	makedepends = git
	depends = breeze-gtk
	depends = kwin
	depends = layer-shell-qt5
	depends = maliit-keyboard-plasma
	depends = noto-fonts
	depends = plasma-desktop
	depends = sddm
	source = kwinrc
	source = 91_plasma.gschema.override
	source = sddm.conf.d-danctnix.conf
	sha256sums = 57ef45fb1065ca281786aca343f4a51584455c444e95f61f54c5545b1aa27eda
	sha256sums = fd5a89ce81197a912a9879aa5aa33daf68c8f80a4b70192fff89364ef9d18734
	sha256sums = 1b3bd51533da9fb9f04c20ff5143b64238dff0ccc5cd47e114b93eff3a0bb6d8

pkgname = danctnix-plasma-desktop-settings
