pkgbase = portfolio-file-manager
	pkgdesc = A minimalist file manager for those who want to use Linux mobile devices.
	pkgver = 1.0.1
	pkgrel = 2
	url = https://github.com/tchx84/Portfolio
	arch = any
	license = GPL3
	checkdepends = python-pytest
	checkdepends = xorg-server-xvfb
	makedepends = meson
	depends = python
	depends = gtk4
	depends = libadwaita
	depends = python-gobject
	replaces = portfolio-fm
	source = Portfolio-1.0.1.tar.gz::https://github.com/tchx84/Portfolio/archive/v1.0.1.tar.gz
	sha512sums = ef297550bee61862bf17b8ffd4170dc4d7a1205a2006783ff27bb96f22427f2da322b1e4633472084b05365bb1d2201bd554cfb385412e535a58000a8c062c03

pkgname = portfolio-file-manager
