pkgbase = linux-pinetab2
	pkgdesc = PineTab2
	pkgver = 6.13.2.danctnix1
	pkgrel = 1
	url = https://github.com/dreemurrs-embedded/linux-pinetab2/commits/v6.13.2-danctnix1
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.13.2.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.13.2.tar.sign
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.13.2-danctnix1/v6.13.2-danctnix1.patch.zst
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.13.2-danctnix1/v6.13.2-danctnix1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = F09A933C0FE0331E558CA4E166CAB7EAA45DD781
	b2sums = 9434dbcb828d49d0b7b68c3ff6651ed227327e8e9a760200fbea91aa37e7949438d253f1a4586da4f72ac1069484e9720b8c8ac3f995d597b33f272065763336
	b2sums = SKIP
	b2sums = 74eada3f2753daa67654014870ea84674c5435b4b7bf830dea92eae3f1401e7ef0bbe4c768c49db904b4c97aa39d35c7f8227454d091f074e19d45ce1c98a41d
	b2sums = SKIP
	b2sums = 874536d75c09e4e764e59c798dfcb7439a9e8f329dbbd7d04b4631997f63f9200a1b474cfa1e494d1d1e40baf61e92f5d3433299854c0cd03aafe9018796d18c

pkgname = linux-pinetab2
	pkgdesc = The PineTab2 kernel and modules
	depends = coreutils
	depends = kmod
	depends = mkinitcpio
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-pinetab2-headers
	pkgdesc = Headers and scripts for building modules for the PineTab2 kernel
	depends = pahole
