pkgbase = linux-pinetab2
	pkgdesc = PineTab2
	pkgver = 6.14.7.danctnix1
	pkgrel = 1
	url = https://github.com/dreemurrs-embedded/linux-pinetab2/commits/v6.14.7-danctnix1
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.7.tar.sign
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.14.7-danctnix1/v6.14.7-danctnix1.patch.zst
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.14.7-danctnix1/v6.14.7-danctnix1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = F09A933C0FE0331E558CA4E166CAB7EAA45DD781
	b2sums = 1b0dc72ec9ff449d7245a0a457a8c1eea3ba63b42c5c179d9262cdbc2f04451c12359fadf74c7464b67115e9206730787b56a3dd539297e7e5c1ad2ae7e13632
	b2sums = SKIP
	b2sums = 98a7de9cc2c89023254d6e1906348fe669bb6039a7027c0f84bfb5d16f3a731a036dd978f528b0c078112572c0ba939041fab51e7238cb2d0bd201462d7d7c09
	b2sums = SKIP
	b2sums = bcd47a34a68e0983080cd77e170c7f189b8efee10bb3d1b78eb627fe59169e89b463a5fe304f2a5641cf2c64297f458b1129f999d0edd1845ccd77dcd9bb8c2c

pkgname = linux-pinetab2
	pkgdesc = The PineTab2 kernel and modules
	depends = coreutils
	depends = kmod
	depends = mkinitcpio
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-pinetab2-headers
	pkgdesc = Headers and scripts for building modules for the PineTab2 kernel
	depends = pahole
