pkgbase = linux-pinetab2
	pkgdesc = PineTab2
	pkgver = 6.13.6.danctnix1
	pkgrel = 1
	url = https://github.com/dreemurrs-embedded/linux-pinetab2/commits/v6.13.6-danctnix1
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.13.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.13.6.tar.sign
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.13.6-danctnix1/v6.13.6-danctnix1.patch.zst
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.13.6-danctnix1/v6.13.6-danctnix1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = F09A933C0FE0331E558CA4E166CAB7EAA45DD781
	b2sums = 5a216c56c77efaee1a3f5c9198ade9180e4640ffcde39662ccf85c2a5945a08c5f362220fb0906369c72a3ea8bdc16fdd24d3e1dbc0f51fc831f3f724ed73300
	b2sums = SKIP
	b2sums = 25e46b64573801a86def754e5d6d06bda271b6a14b37f22f2e1bd985f0f019accb9ddbde93057916d730b9d6210ab285e82b639edc0d15850c93081c6e91cd21
	b2sums = SKIP
	b2sums = 1f209190421686a404d602f72430ca386de2e2173d8ec51ed1c11da05090144356fe9b98a0751f21085377015e9c409743aeeb9d3a298a4905526fc276624d4c

pkgname = linux-pinetab2
	pkgdesc = The PineTab2 kernel and modules
	depends = coreutils
	depends = kmod
	depends = mkinitcpio
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-pinetab2-headers
	pkgdesc = Headers and scripts for building modules for the PineTab2 kernel
	depends = pahole
