pkgbase = gnome-contacts-mobile
	pkgdesc = This is a dummy package. It is no longer needed.
	pkgver = 45.1
	pkgrel = 2
	url = https://danctnix.org
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = NONE
	depends = gnome-contacts

pkgname = gnome-contacts-mobile
