pkgbase = device-pine64-pinephone
	pkgdesc = PinePhone device package
	pkgver = 0.2
	pkgrel = 7
	url = https://github.com/dreemurrs-embedded/Pine64-Arch
	install = device-pine64-pinephone.install
	arch = aarch64
	license = MIT
	depends = danctnix-tweaks
	depends = linux-megi
	depends = uboot-pinephone
	depends = linux-firmware-realtek
	depends = anx7688-firmware
	depends = ov5640-firmware
	depends = eg25-manager
	source = 10-proximity.rules
	source = 10-pinephone-brightness.rules
	source = 12_mobile-pinephone.gschema.override
	source = machine-info
	source = pinephone-suspend-hook.sh
	source = pulseaudio-pinetweaks.conf
	md5sums = b72ff096c022588f72c226283ac328bd
	md5sums = 3a478fece4381cf41fb795009bfe8cc3
	md5sums = 64752ddac7886945f8c5ad0d9cb09749
	md5sums = b53781dde1d7a9a44e5076f3be463570
	md5sums = b0912b95d7d810a0f161d9bd79fc162b
	md5sums = 1504e684e5a2aec439e0674cdfc9d3c1

pkgname = device-pine64-pinephone
